@model ForgotPassword
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password. <br />

    Reset Password Link Below
</p>
<p>
    <a href="@ViewData["PasswordResetLink"]" >Reset Password Link</a>
</p>

