@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Homepage for the online management system for Scarborough Computer Shop customers, products, and orders</a>.</p>
</div>
